
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,400..700;1,400..700");

@layer base {
  body {
    @apply font-sans;
    
  }
}

:root {
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

